.cartIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 1.5rem;
}

.cartMenu {
  position: absolute;
  top: 10rem;
  color: #000;
  width: 30rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  /* background: #000; */
  z-index: 99;

  & ul {
    padding-left: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 11px 31px 31.3px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    // padding: 0 1rem;

    & li {
      box-shadow: 11px 31px 31.3px 0px rgba(0, 0, 0, 0.05);
      padding: 3rem 0;
      display: inline-block;
    }

    & .cartBtns {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      & button {
        width: 100%;
      }
    }

    & li {
      //   width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      color: var(--secondary-color);
      transition: background 0.2s;
      border-radius: 0.5rem;
      padding: 2rem;
      margin: 1rem 2rem;
      border: 1px solid rgba(244, 109, 59, 0.1);

      &:hover {
        background: radial-gradient(
          50% 50% at 50% 50%,
          #d94108 0%,
          #bb4042 100%
        );
        color: var(--color-white);
      }
      &:hover .cartPriceName {
        color: var(--color-white);
      }
      &:hover svg path {
        fill: var(--color-white);
      }

      & img {
        border-radius: 0.5rem;
      }

      & div {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

.cartPrice {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  border-right: 1px solid rgba(244, 109, 59, 0.28);
  padding-right: 4rem;
}

.priceDiscount {
  color: #979797;
  font-size: 1.1rem;
  text-decoration: line-through;
  display: inline-block;
  padding: 0 0.5rem;
}
.cartBtns {
  width: 100%;
}
.cartNum {
  position: absolute;
  top: 3.5rem;
  right: 1.3rem;
}
.dot {
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: var(--color-white);
}
.cartPriceName {
  color: rgba(159, 54, 57, 1);
}
